<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <center><h1>DATA KENDARAAN PARKIR</h1></center>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="plat" placeholder="plat kendaraan" required/>
        <input type="number" name="type" placeholder="jumlah roda (1-16)" value="2" required/>
        <button type="submit">Add</button>
    </form>
    <div>
        <table border="1">
        <tr>
            <th>plat</th>
            <th>jumlah roda</th>
            <th></th>
        </tr>
        {% for d in list_vehicle %}
        <tr>
            <td>{{ d.vehicle_name }}</td>
            <td>{{ d.vehicle_wheels }}</td>
            <td>
                <button onclick="outConfirmation({{d.pk}})">Out</button>
                 <!--'{{ d.pk }}-{{ d.vehicle_name }}-{{ d.vehicle_wheels }}'  -->
            </td>
        </tr>
        {% endfor %}    
        </table>
        
    </div>
    <script>
        function outConfirmation(id) {
            let isBoss = confirm("Kendaraan dgn Id " + id + " membayar Rp ");
            if(isBoss)
            $.get("/", {outId: id}, function(result){});
        }
    </script>
</body>
</html>